Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: format configs

fix: upgrade aws-sdk from 2.1437.0 to 2.1692.0
  package.json
  yarn.lock
Due: format configs

fix: upgrade yaml from 2.3.1 to 2.6.1
  package.json
  yarn.lock
Due: format configs

fix: upgrade @kubernetes/client-node from 0.16.3 to 0.22.3
  package.json
  yarn.lock
Due: format configs

fix: upgrade unity-changeset from 2.1.0 to 2.3.0
  package.json
  yarn.lock
Due: format configs

fix: upgrade reflect-metadata from 0.1.13 to 0.2.2
  package.json
  yarn.lock
Due: format configs

Fixed aws to work when no secrets specified
  src/model/cloud-runner/providers/aws/aws-cloud-formation-templates.ts
  src/model/cloud-runner/providers/aws/aws-job-stack.ts
  src/model/cloud-runner/providers/aws/cloud-formations/task-definition-formation.ts
Due: format code, run tests

Add UNITY_LICENSE secret to CI workflows.
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-windows.yml
  .github/workflows/cloud-runner-ci-pipeline.yml
Due: format configs

Add initial config for devcontainers.
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
Due: format documents, format configs

ci: add tests for Unity 6 and build profiles
  .github/workflows/build-tests-ubuntu.yml
  test-project/Assets/Settings.meta
  test-project/Assets/Settings/Build Profiles.meta
  test-project/Assets/Settings/Build Profiles/Sample WebGL Build Profile.asset
  test-project/Assets/Settings/Build Profiles/Sample WebGL Build Profile.asset.meta
Due: format configs

fix(aws): keeping the syntax simpler for arrays
  src/model/cloud-runner/providers/aws/cloud-runner-aws-task-def.ts
Due: format code, run tests

Update GitHub Actions permissions in CI pipeline
  .github/workflows/cloud-runner-ci-pipeline.yml
Due: format configs

fix: androidCreateSymbols has been deprecated
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/AndroidSettings.cs
Due: none

Supports github_home in windows-latest
  src/model/docker.ts
Due: format code, run tests

Attempt at copying from specific volume
  dist/platforms/windows/entrypoint.ps1
  src/model/docker.ts
Due: format code, run tests

Adding some more logging
  dist/platforms/windows/entrypoint.ps1
  src/model/docker.ts
Due: format code, run tests

Debugging and some other approach
  dist/platforms/windows/entrypoint.ps1
Due: none

Another attempt at debugging
  dist/platforms/windows/entrypoint.ps1
Due: none

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
