Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    build distributables:
      skip: ['merge', 'rebase']
      run: yarn build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

cleanup
  src/model/cloud-runner/tests/cloud-runner-s3-prebuilt-steps.test.ts
Due: format code, run tests

cleanup
  src/model/cloud-runner/tests/cloud-runner-run-once-custom-hooks.test.ts
Due: format code, run tests

Fix: builds for Unity versions less than 2019 fail
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/AndroidSettings.cs
Due: none

Fix: builds for Unity versions less than 2019 fail (#467)
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/AndroidSettings.cs
Due: none

cleanup
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

Outputting current directory and using $ACTION_FOLDER
  dist/platforms/ubuntu/steps/activate.sh
Due: make shell script executable

Test to figure out what the working directory is of current bash script
  dist/platforms/ubuntu/steps/activate.sh
Due: make shell script executable

Parse and save acquired floating license for use for returning after build
  dist/platforms/ubuntu/steps/activate.sh
  dist/platforms/ubuntu/steps/return_license.sh
Due: make shell script executable

mkdir for unity config
  dist/platforms/ubuntu/steps/activate.sh
Due: make shell script executable

Add -p flag to mkdir so parents are also created if missing
  dist/platforms/ubuntu/steps/activate.sh
Due: make shell script executable
