Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

fixes
  .github/workflows/cloud-runner-pipeline.yml
  src/model/cloud-runner/tests/cloud-runner-locking.test.ts
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-locking.test.ts
Due: format configs, format code, run tests

Fix Builds Status Badge
  README.md
Due: format documents

Add Windows and Mac builds
  README.md
Due: format documents

Fix Builds Status Badge (#520)
  README.md
Due: format documents

Fix #428
  dist/platforms/windows/entrypoint.ps1
  dist/platforms/windows/set_gitcredential.ps1
Due: none

Fix #428. Possible fix for #430
  dist/platforms/ubuntu/steps/set_gitcredential.sh
  dist/platforms/windows/set_gitcredential.ps1
Due: make shell script executable

cleanup
  src/model/cloud-runner/remote-client/index.ts
  src/model/cloud-runner/services/cloud-runner-custom-hooks.ts
Due: format code, run tests

cleanup
  src/model/cloud-runner/services/cloud-runner-custom-steps.ts
Due: format code, run tests

cleanup
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

cleanup
  src/model/cloud-runner/remote-client/index.ts
Due: format code, run tests

cleanup
  src/model/cloud-runner/cloud-runner.ts
  src/model/cloud-runner/services/cloud-runner-custom-hooks.ts
Due: format code, run tests

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
