Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    build distributables:
      skip: ['merge', 'rebase']
      run: yarn build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

feat(orchestrator): add experimental GCP Cloud Run and Azure ACI providers
  action.yml
  src/model/build-parameters.ts
  src/model/input.ts
  src/model/orchestrator/orchestrator.ts
  src/model/orchestrator/providers/azure-aci/index.ts
  src/model/orchestrator/providers/gcp-cloud-run/index.ts
  src/model/orchestrator/providers/provider-loader.ts
Due: format configs, format code, run tests

feat(orchestrator): multi-storage support for GCP and Azure providers
  action.yml
  src/model/build-parameters.ts
  src/model/input.ts
  src/model/orchestrator/providers/azure-aci/index.ts
  src/model/orchestrator/providers/gcp-cloud-run/index.ts
Due: format configs, format code, run tests

docs(orchestrator): provider plugins, CLI protocol, and build services documentation
  docs/orchestrator/build-services.md
  docs/orchestrator/provider-plugins.md
Due: format documents

docs(orchestrator): GCP Cloud Run and Azure ACI cloud providers documentation
  docs/orchestrator/cloud-providers.md
Due: format documents

docs(orchestrator): CLI provider protocol and provider plugin system
  docs/orchestrator/provider-plugins.md
Due: format documents

docs(orchestrator): submodule profiles, local caching, LFS agents, git hooks
  docs/orchestrator/build-services.md
Due: format documents

docs(orchestrator): GCP Cloud Run and Azure ACI with multi-storage backends
  docs/orchestrator/cloud-providers.md
Due: format documents

test(orchestrator): expand local cache service test coverage
  src/model/orchestrator/services/cache/local-cache-service.test.ts
Due: format code, run tests

test(orchestrator): add runner availability service tests
  src/model/orchestrator/services/core/runner-availability-service.test.ts
Due: format code, run tests

test(orchestrator): add unit tests for untested core services
  src/model/orchestrator/options/orchestrator-folders.test.ts
  src/model/orchestrator/options/orchestrator-guid.test.ts
  src/model/orchestrator/services/core/follow-log-stream-service.test.ts
  src/model/orchestrator/services/core/task-parameter-serializer.test.ts
Due: format code, run tests

ci(orchestrator): add fast unit test gate to integrity workflow
  .github/workflows/orchestrator-integrity.yml
Due: format configs

test(orchestrator): expand unit tests for enterprise services
  src/model/orchestrator/providers/cli/cli-provider.test.ts
  src/model/orchestrator/services/cache/local-cache-service.test.ts
  src/model/orchestrator/services/hooks/git-hooks-service.test.ts
  src/model/orchestrator/services/lfs/lfs-agent-service.test.ts
Due: format code, run tests

fix(orchestrator): use http.extraHeader for secure git authentication
  action.yml
  src/model/build-parameters.ts
  src/model/orchestrator/options/orchestrator-folders-auth.test.ts
  src/model/orchestrator/options/orchestrator-folders.ts
  src/model/orchestrator/options/orchestrator-options.ts
  src/model/orchestrator/remote-client/index.ts
  src/model/orchestrator/workflows/async-workflow.ts
  src/model/orchestrator/workflows/build-automation-workflow.ts
Due: format configs, format code, run tests

feat(orchestrator): add premade secret sources and YAML definitions
  action.yml
  src/model/orchestrator/options/orchestrator-options.ts
  src/model/orchestrator/options/orchestrator-query-override.ts
  src/model/orchestrator/services/secrets/secret-source-service.test.ts
  src/model/orchestrator/services/secrets/secret-source-service.ts
Due: format configs, format code, run tests

feat(secrets): add HashiCorp Vault as first-class premade secret source
  action.yml
  src/model/orchestrator/services/secrets/secret-source-service.test.ts
  src/model/orchestrator/services/secrets/secret-source-service.ts
Due: format configs, format code, run tests

feat(lfs): add built-in elastic-git-storage support with auto-install
  action.yml
  src/model/orchestrator/services/lfs/elastic-git-storage-service.test.ts
  src/model/orchestrator/services/lfs/elastic-git-storage-service.ts
Due: format configs, format code, run tests

feat(hooks): add Unity Git Hooks integration and runHookGroups
  action.yml
  src/model/build-parameters.ts
  src/model/input.ts
  src/model/orchestrator/services/hooks/git-hooks-service.test.ts
  src/model/orchestrator/services/hooks/git-hooks-service.ts
Due: format configs, format code, run tests

feat(orchestrator): add test workflow engine placeholder
  src/model/orchestrator/services/test/README.md
Due: format documents

feat(orchestrator): add hot runner protocol placeholder
  src/model/orchestrator/runners/README.md
Due: format documents

feat(orchestrator): generic artifact system — output types, manifests, and collection service
  src/model/orchestrator/services/output/index.ts
  src/model/orchestrator/services/output/output-manifest.ts
  src/model/orchestrator/services/output/output-service.ts
  src/model/orchestrator/services/output/output-type-registry.ts
Due: format code, run tests

feat(orchestrator): incremental sync protocol — git delta, direct input, and storage-backed sync
  src/model/orchestrator/services/sync/incremental-sync-service.ts
  src/model/orchestrator/services/sync/index.ts
  src/model/orchestrator/services/sync/sync-state.ts
Due: format code, run tests

test(providers): add comprehensive unit tests for GitHub Actions, GitLab CI, PowerShell, and Ansible providers (#806)
  src/model/orchestrator/providers/ansible/ansible-provider.test.ts
  src/model/orchestrator/providers/github-actions/github-actions-provider.test.ts
  src/model/orchestrator/providers/gitlab-ci/gitlab-ci-provider.test.ts
  src/model/orchestrator/providers/provider-selection.test.ts
  src/model/orchestrator/providers/remote-powershell/remote-powershell-provider.test.ts
Due: format code, run tests

fix(cli-provider): add timeout protection for external CLI processes
  src/model/orchestrator/providers/cli/cli-provider.test.ts
  src/model/orchestrator/providers/cli/cli-provider.ts
Due: format code, run tests
