Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

Pin LocalStack to 4.4.0 (pre-auth-token requirement)
  .github/workflows/orchestrator-integrity.yml
Due: format configs

feat: add CLI plugin adapter for @game-ci/cli consumption
  package.json
  src/cli-plugin/build-parameters-adapter.ts
  src/cli-plugin/cli-plugin.test.ts
  src/cli-plugin/index.ts
  src/cli-plugin/orchestrator-options-plugin.ts
  src/cli-plugin/provider-adapter.ts
Due: format configs, format code, run tests

style: apply Prettier formatting to workflow files
  .github/workflows/build-tests-windows.yml
Due: format configs

fix: update action runtime from Node.js 20 to Node.js 24
  action.yml
Due: format configs

refactor: plugin lifecycle interface for orchestrator extraction
  action.yml
  dist/index.js
  dist/index.js.map
  src/index-plugin-features.test.ts
  src/index.ts
  src/model/build-parameters.ts
  src/model/input.ts
  src/model/orchestrator-plugin.test.ts
  src/model/orchestrator-plugin.ts
  src/model/plugin-inputs.test.ts
  src/types/game-ci-orchestrator.d.ts
Due: format configs, format code, run tests

fix: align CI workflow with actual loadOrchestratorPlugin export
  .github/workflows/validate-orchestrator-integration.yml
  .github/workflows/validate-orchestrator.yml
Due: format configs

fix: checkout matching orchestrator branch in CI validation
  .github/workflows/validate-orchestrator.yml
Due: format configs

ci: add run-integration label to trigger full integration tests on PRs
  .github/workflows/integrity-check.yml
Due: format configs

ci: checkout matching orchestrator branch in integration tests
  .github/workflows/integrity-check.yml
  .github/workflows/validate-orchestrator-integration.yml
Due: format configs

ci: switch from LocalStack to MiniStack for AWS mock services
  .github/workflows/validate-orchestrator-integration.yml
Due: format configs

feat: add sync-secrets workflow for sibling repositories
  .github/workflows/sync-secrets.yml
Due: format configs

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/sync-secrets.yml
Due: format configs

fix: add UNITY_LICENSE and NPM_TOKEN to sync-secrets, don't block on failures
  .github/workflows/sync-secrets.yml
Due: format configs

chore: remove LOCALSTACK_AUTH_TOKEN from sync-secrets workflow
  .github/workflows/sync-secrets.yml
Due: format configs

chore: migrate to mise + bump yarn to 4.14.1 (yarn 1 -> 4)
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/integrity-check.yml
  .github/workflows/validate-orchestrator-integration.yml
  .github/workflows/validate-orchestrator.yml
  .gitignore
  .yarnrc
  .yarnrc.yml
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  mise.toml
  package.json
  yarn.lock
Due: format configs

chore: revert dist/ + build-tests workflow churn
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .yarnrc.yml
Due: format configs

fix(ci): add missing eslint plugins + jest globals
  package.json
  yarn.lock
Due: format configs

fix(ci): disable unicorn/no-useless-undefined
  .eslintrc.json
Due: format configs

ci: bump cache key to v2 to bust stale node_modules
  .github/workflows/integrity-check.yml
  .github/workflows/validate-orchestrator-integration.yml
  .github/workflows/validate-orchestrator.yml
Due: format configs

ci: drop node_modules from yarn cache (stale-state fix)
  .github/workflows/integrity-check.yml
  .github/workflows/validate-orchestrator-integration.yml
  .github/workflows/validate-orchestrator.yml
Due: format configs

refactor: generalize unity-builder plugin contract
  dist/index.js
  dist/index.js.map
  src/index-plugin-features.test.ts
  src/index.ts
  src/model/build-plugin.test.ts
  src/model/build-plugin.ts
  src/model/orchestrator-plugin.test.ts
  src/model/orchestrator-plugin.ts
  src/types/game-ci-orchestrator.d.ts
Due: format code, run tests

test: preserve orchestrator plugin compatibility target
  src/model/build-plugin.test.ts
  src/model/orchestrator-plugin.test.ts
Due: format code, run tests

ci(unity-builder): fix Tests + Plugin Architecture Health on quality-tightening
  .github/workflows/validate-orchestrator.yml
  package.json
  src/jest.setup.ts
  src/model/__snapshots__/versioning.test.ts.snap
  src/test/setup.ts
  vitest.config.mts
  yarn.lock
Due: format configs, format code, run tests

refactor: rename build plugin to plugin
  dist/index.js
  dist/index.js.map
  src/index-plugin-features.test.ts
  src/index.ts
  src/model/orchestrator-plugin.test.ts
  src/model/orchestrator-plugin.ts
  src/model/plugin.test.ts
  src/model/plugin.ts
  src/types/game-ci-orchestrator.d.ts
Due: format code, run tests

chore: bump production dependencies (minor/patch)
  package.json
  yarn.lock
Due: format configs

feat: add linux64RemoveExecutableExtension parameter (default: false)
  action.yml
  src/model/build-parameters.test.ts
  src/model/build-parameters.ts
  src/model/input.test.ts
  src/model/input.ts
Due: format configs, format code, run tests

chore: remove legacy CLI bootstrap and unused deps
  package.json
  src/index-plugin-features.test.ts
  src/index.ts
  src/model/cli/cli-functions-repository.ts
  src/model/cli/cli.ts
  yarn.lock
Due: format configs, format code, run tests

refactor: rename Cli to PluginOptions, remove cli directory
  src/model/build-parameters.ts
  src/model/cli/cli.ts
  src/model/input.ts
  src/model/plugin-options.ts
Due: format code, run tests

fix(ci): fix orchestrator integration test failures
  .github/workflows/validate-orchestrator-integration.yml
Due: format configs

fix(ci): wipe .git before fallback checkout, fix remaining jest syntax
  .github/workflows/validate-orchestrator-integration.yml
Due: format configs

refactor: simplify plugin mode check
  src/model/plugin-options.ts
Due: format code, run tests

Fix wrong mac path for License Server Activation when using Unity 6.3+
  dist/platforms/mac/steps/activate.sh
  dist/platforms/mac/steps/return_license.sh
Due: make shell script executable

Add unit tests for licensing path branches
  src/integrity.test.ts
Due: format code, run tests

Update tests based on bot feedback
  src/integrity.test.ts
Due: format code, run tests

fix: insufficient shared memory available in Unity 6.6 beta
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  src/model/docker.ts
Due: format code, run tests

Fix Plugin Architecture Health CI check for the thin-wrapper move
  .github/workflows/validate-orchestrator-integration.yml
  .github/workflows/validate-orchestrator.yml
Due: format configs

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
