Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    build distributables:
      skip: ['merge', 'rebase']
      run: yarn build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

initial layout for azure hosted ephmeral runners
  dist/platforms/azure/.gitignore
  dist/platforms/azure/README.md
  dist/platforms/azure/firewall.sh
  dist/platforms/azure/main.tf
  dist/platforms/azure/modules/environment-base/README.md
  dist/platforms/azure/modules/environment-base/container-registry.tf
  dist/platforms/azure/modules/environment-base/identity.tf
  dist/platforms/azure/modules/environment-base/keyvault.tf
  dist/platforms/azure/modules/environment-base/network.tf
  dist/platforms/azure/modules/environment-base/outputs.tf
  dist/platforms/azure/modules/environment-base/resource-group.tf
  dist/platforms/azure/modules/environment-base/storage.tf
  dist/platforms/azure/modules/environment-base/variables.tf
  dist/platforms/azure/modules/virtual-machine-scale-set/README.md
  dist/platforms/azure/modules/virtual-machine-scale-set/cloud-init.txt
  dist/platforms/azure/modules/virtual-machine-scale-set/network.tf
  dist/platforms/azure/modules/virtual-machine-scale-set/variables.tf
  dist/platforms/azure/modules/virtual-machine-scale-set/virtual-machine-scale-set.tf
  dist/platforms/azure/providers.tf
  dist/platforms/azure/run-terraform.yaml
  dist/platforms/azure/terraform.tfvars
  dist/platforms/azure/variables.tf
Due: format documents, format configs, make shell script executable

K8s log and stringify error for k8s cleanup
  src/model/cloud-runner/tests/cloud-runner-run-twice-caching.test.ts
Due: format code, run tests

Better locking
  src/model/cloud-runner/tests/shared-workspace-locking.test.ts
Due: format code, run tests

Better locking
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

For now we won't run a full k8s build, doesn't exit at end of workflow
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

For now we won't run a full k8s build, doesn't exit at end of workflow
  1664483151394_727700cd-2e8a-4836-8191-a7e15cbd29ea_lock
  src/model/cli/custom-behaviour-files.ts
Due: format code, run tests

Cloud Runner pipeline will not use IL2CPP
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

Fix: post build caching via CLI
  src/model/cloud-runner/tests/cloud-runner-run-twice-retaining.test.ts
Due: format code, run tests

Fix: post build caching via CLI
  src/model/cloud-runner/tests/shared-workspace-locking.test.ts
Due: format code, run tests
