Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    build distributables:
      skip: ['merge', 'rebase']
      run: yarn build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

Checking licensing server first for now, since serial is always set
  dist/platforms/ubuntu/steps/return_license.sh
Due: make shell script executable

Clean up duplicate commands in activate.sh
  dist/platforms/ubuntu/steps/activate.sh
Due: make shell script executable

Fixed running string as command, use it as input instead
  dist/platforms/ubuntu/steps/activate.sh
  dist/platforms/ubuntu/steps/test/services-config.json
Due: format configs, make shell script executable

Initial work on returning floating license when using licensing server
  dist/platforms/ubuntu/steps/return_license.sh
  dist/platforms/ubuntu/steps/services-config.json
Due: format configs, make shell script executable

use awk instead of sed due to http characters breaking syntax
  dist/platforms/ubuntu/steps/activate.sh
Due: make shell script executable

retained workspace for k8s
  action.yml
  src/model/cloud-runner/tests/cloud-runner-run-twice-retaining.test.ts
Due: format configs, format code, run tests

stubbing inspection api
  src/model/cli/cli.ts
  src/model/cloud-runner/providers/aws/index.ts
  src/model/cloud-runner/providers/docker/index.ts
  src/model/cloud-runner/providers/k8s/index.ts
  src/model/cloud-runner/providers/local/index.ts
  src/model/cloud-runner/providers/provider-interface.ts
  src/model/cloud-runner/providers/test/index.ts
Due: format code, run tests

stubbing inspection api
  src/model/cloud-runner/services/shared-workspace-locking.ts
Due: format code, run tests
