Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    build distributables:
      skip: ['merge', 'rebase']
      run: yarn build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

Update cloud-runner-pipeline.yml
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

error handling for aws
  src/model/cloud-runner/tests/cloud-runner-run-twice-retaining.test.ts
Due: format code, run tests

pipeline only integration test Win64, build test all paltforms
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

test timeout 1_000_000_000_000
  src/model/cloud-runner/tests/cloud-runner-run-once-custom-hooks.test.ts
  src/model/cloud-runner/tests/cloud-runner-run-twice-caching.test.ts
  src/model/cloud-runner/tests/cloud-runner-run-twice-retaining.test.ts
  src/model/cloud-runner/tests/cloud-runner-s3-prebuilt-steps.test.ts
  src/model/cloud-runner/tests/cloud-runner-sync-environment.test.ts
Due: format code, run tests

Update src/model/cloud-runner/tests/cloud-runner-sync-environment.test.ts
  src/model/cloud-runner/tests/cloud-runner-sync-environment.test.ts
Due: format code, run tests

skip local integration tests on cloud runner develop branch
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

[CloudRunner] actions yaml descriptions
  action.yml
Due: format configs

Fix powershell quotation issue, when CUSTOM_PARAMETERS contains spaces
  dist/platforms/windows/build.ps1
Due: none
