Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

Update cloud-runner-hooks.test.ts
  src/model/cloud-runner/tests/cloud-runner-hooks.test.ts
Due: format code, run tests

Reverting changes for #430 as they do not seem to have any effect
  dist/platforms/ubuntu/steps/set_gitcredential.sh
  dist/platforms/windows/set_gitcredential.ps1
Due: make shell script executable

Update pull request template
  .github/pull_request_template.md
Due: format documents

fixes
  action.yml
Due: format configs

Subtarget support for Unity 2021.2+
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Builder.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/ArgumentsParser.cs
Due: none

Fix build subtarget compatibility
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Builder.cs
Due: none

Build subtarget support for Unity 2021.2+ (#532)
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Builder.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/ArgumentsParser.cs
Due: none

check for startup message in workflows
  src/model/cloud-runner/remote-client/index.ts
Due: format code, run tests

Update cloud-runner-ci-pipeline.yml
  .github/workflows/cloud-runner-ci-pipeline.yml
Due: format configs

updates
  package.json
Due: format configs

latest develop
  scripts/game-ci.bat
Due: none

Update package.json
  package.json
Due: format configs

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
