Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    build distributables:
      skip: ['merge', 'rebase']
      run: yarn build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

refactor(cli): move cache command under orchestrate subcommand
  src/cli.ts
  src/cli/__tests__/cli-integration.test.ts
  src/cli/__tests__/commands.test.ts
  src/cli/commands/cache.ts
  src/cli/commands/orchestrate.ts
Due: format code, run tests

refactor: move CLI to orchestrator, fix validate-orchestrator workflow
  .github/workflows/release-cli.yml
  .github/workflows/validate-orchestrator.yml
  package.json
  src/cli.ts
  src/cli/__tests__/cli-integration.test.ts
  src/cli/__tests__/commands.test.ts
  src/cli/__tests__/input-mapper.test.ts
  src/cli/commands/activate.ts
  src/cli/commands/build.ts
  src/cli/commands/cache.ts
  src/cli/commands/orchestrate.ts
  src/cli/commands/status.ts
  src/cli/commands/update.ts
  src/cli/commands/version.ts
  src/cli/input-mapper.ts
  yarn.lock
Due: format configs, format code, run tests

fix(ci): remove reference to deleted orchestrator-integrity.yml
  .github/workflows/integrity-check.yml
Due: format configs

fix(ci): use --legacy-peer-deps for orchestrator install in validation
  .github/workflows/validate-orchestrator.yml
Due: format configs

chore: remove temporary delete-me scripts
  delete-me-update-all-integration-branches.ps1
  delete-me-update-this-integration-branch.ps1
Due: none

feat(ci): add orchestrator integration tests and plugin interface tests
  .github/workflows/validate-orchestrator-integration.yml
  src/model/orchestrator-plugin.test.ts
Due: format configs, format code, run tests

fix(ci): add build step to k8s and aws integration jobs
  .github/workflows/validate-orchestrator-integration.yml
Due: format configs

fix(ci): add refactor/** branch pattern and workflow_dispatch to orchestrator workflows
  .github/workflows/validate-orchestrator-integration.yml
  .github/workflows/validate-orchestrator.yml
Due: format configs

refactor(ci): split orchestrator tests into per-PR health checks and nightly exhaustive suite
  .github/workflows/validate-orchestrator-integration.yml
  .github/workflows/validate-orchestrator.yml
Due: format configs

ci: add yarn.lock to validate-orchestrator path filters
  .github/workflows/validate-orchestrator.yml
Due: format configs

refactor: move install scripts to orchestrator repo
  install.ps1
  install.sh
Due: make shell script executable

Potential fix for code scanning alert no. 78: Workflow does not contain permissions
  .github/workflows/validate-orchestrator.yml
Due: format configs

fix(ci): update workflow references from loadEnterpriseServices to loadPluginServices
  .github/workflows/validate-orchestrator-integration.yml
  .github/workflows/validate-orchestrator.yml
Due: format configs

ci: remove (Nightly) from integration tests workflow name
  .github/workflows/validate-orchestrator-integration.yml
Due: format configs

ci: add smoke test for orchestrator build wiring
  .github/workflows/validate-orchestrator.yml
Due: format configs

ci: wire orchestrator integration tests into integrity check
  .github/workflows/integrity-check.yml
  .github/workflows/validate-orchestrator-integration.yml
Due: format configs

fix(ci): pin LocalStack to v3.8.1 for AWS SDK v3 compatibility
  .github/workflows/validate-orchestrator-integration.yml
Due: format configs

revert: restore localstack:latest now that SDK is pinned
  .github/workflows/validate-orchestrator-integration.yml
Due: format configs

temp: workflow to push secrets to orchestrator repo
  .github/workflows/temp-push-secrets.yml
Due: format configs

ci: reorder AWS integration tests to prevent workspace corruption
  .github/workflows/validate-orchestrator-integration.yml
Due: format configs

fixup! add new input to action.yml
  action.yml
Due: format configs

fix: pass Unity license secrets to AWS ECS container via RunTask overrides
  dist/index.js
  dist/index.js.map
  src/model/orchestrator/providers/aws/aws-task-runner.ts
  src/model/orchestrator/providers/aws/index.ts
Due: format code, run tests
