Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

fix: use new cli list-resources after cloud pipeline and include k8s in upload artifacts
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

fix: build dir
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

fix: build dir
  src/model/cloud-runner/tests/cloud-runner-remote-client-caching.test.ts
Due: format code, run tests

fix: garbage collect not implemented error
  src/model/cloud-runner/providers/docker/index.ts
Due: format code, run tests

Include local cloud runner in build-tests matrix
  .github/workflows/build-tests.yml
  src/model/cloud-runner/tests/cloud-runner-run-twice-retaining.test.ts
Due: format configs, format code, run tests

Remove aws dependency from local-docker flow
  .github/workflows/cloud-runner-pipeline.yml
  src/model/cloud-runner/tests/cloud-runner-s3-prebuilt-steps.test.ts
Due: format configs, format code, run tests

Remove aws dependency from local-docker flow
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

cloud-runner-local-pipeline
  .github/workflows/build-tests.yml
  .github/workflows/cloud-runner-local-pipeline.yml
Due: format configs

local pipeline only run outside main cloud-runner branches
  .github/workflows/cloud-runner-local-pipeline.yml
Due: format configs

Update cloud-runner-local-pipeline.yml
  .github/workflows/cloud-runner-local-pipeline.yml
Due: format configs

Update cloud-runner-pipeline.yml
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
