Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

test fix - kubernetes - name typo in github yaml
  .github/workflows/cloud-runner-ci-pipeline.yml
Due: format configs

Push to steam test
  src/model/cloud-runner/tests/e2e/cloud-runner-kubernetes.test.ts
Due: format code, run tests

Removed checks for old unity versions
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
Due: format configs

Removed checks for old unity versions (#558)
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
Due: format configs

Downgraded 2023.1.9f1 to 2023.1.8f1
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
Due: format configs

feat: bump (major) docker image rolling tag
  src/model/image-tag.test.ts
  src/model/image-tag.ts
Due: format code, run tests

chore: bump major version
  package.json
Due: format configs

fix: up workflow node to lts
  .github/workflows/cleanup.yml
  .github/workflows/integrity-check.yml
Due: format configs

added clearer printing
  dist/platforms/ubuntu/steps/get_gradle_cache.sh
  dist/platforms/ubuntu/steps/set_gradle_cache.sh
Due: make shell script executable

missing quotation mark
  dist/platforms/ubuntu/steps/get_gradle_cache.sh
  dist/platforms/ubuntu/steps/set_gradle_cache.sh
Due: make shell script executable

redirect errors to devnull
  dist/platforms/ubuntu/steps/get_gradle_cache.sh
  dist/platforms/ubuntu/steps/set_gradle_cache.sh
Due: make shell script executable

disabled
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
