Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

Wrong flag
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Fix params
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Ensure access to /dev/stdout
  dist/platforms/ubuntu/entrypoint.sh
  dist/platforms/ubuntu/steps/activate.sh
Due: make shell script executable

Allow anyone to write to stdout/stderr
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Setup android SDK as root
  dist/platforms/ubuntu/entrypoint.sh
  dist/platforms/ubuntu/steps/build.sh
Due: make shell script executable

Fix typo
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Move host user specific code within if statement. Test uuid solution
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Fix path variable change. Add better logging
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Fix missing $
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Remove XRSettings. Remove license file check and rely on error codes instead. Exponential backoff Unity license activation retry strategy
  dist/BlankProject/ProjectSettings/XRSettings.asset
  dist/platforms/mac/entrypoint.sh
  dist/platforms/mac/steps/activate.sh
  dist/platforms/ubuntu/steps/activate.sh
  dist/platforms/ubuntu/steps/runsteps.sh
  dist/platforms/windows/activate.ps1
  dist/platforms/windows/entrypoint.ps1
Due: make shell script executable

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: format documents

Update CONTRIBUTING.md (#601)
  CONTRIBUTING.md
Due: format documents

Only randomize uuid for personal activation
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

repo cleanup
  dist/default-build-script/Assembly-CSharp-Editor.csproj
  dist/default-build-script/ProjectSettings/XRSettings.asset
  dist/default-build-script/default-build-script.sln
  dist/default-build-script/default-build-script.sln.DotSettings
  test-project/ProjectSettings/XRSettings.asset
Due: none

Search legacy path for android sdkmanager. Add 2023.2 to tests
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
  dist/platforms/ubuntu/entrypoint.sh
Due: format configs, make shell script executable

Search legacy path for android sdkmanager. Add 2023.2 to tests (#606)
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
  dist/platforms/ubuntu/entrypoint.sh
Due: format configs, make shell script executable

fix
  src/model/cloud-runner/tests/cloud-runner-environment.test.ts
Due: format code, run tests

Fix missed directory change that isn't used anymore
  dist/platforms/ubuntu/steps/return_license.sh
Due: make shell script executable

Fixes, improvements, and cleanup while reconciling test runner scripts
  dist/BlankProject/Packages/.DS_Store
  dist/platforms/ubuntu/steps/activate.sh
  dist/platforms/ubuntu/steps/return_license.sh
  dist/platforms/windows/activate.ps1
  dist/platforms/windows/build.ps1
  dist/platforms/windows/return_license.ps1
  dist/platforms/windows/set_gitcredential.ps1
Due: make shell script executable

Fix possible hang
  dist/platforms/windows/activate.ps1
  dist/platforms/windows/return_license.ps1
Due: none

Don't mislead with activation server on windows
  dist/platforms/windows/activate.ps1
Due: none

Update node version
  action.yml
Due: format configs

fix
  package.json
  src/model/cloud-runner/tests/cloud-runner-environment.test.ts
  yarn.lock
Due: format configs, format code, run tests

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
