Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: format configs

fix: mock github checks in tests
  src/jest.setup.ts
  src/model/cloud-runner/tests/cloud-runner-github-checks.test.ts
Due: format code, run tests

chore: format cloud runner github checks test
  src/model/cloud-runner/tests/cloud-runner-github-checks.test.ts
Due: format code, run tests

test: always mock github check requests
  src/model/cloud-runner/tests/cloud-runner-github-checks.test.ts
Due: format code, run tests

test: add github check integration
  .github/workflows/github-checks-integration.yml
  src/integration/cloud-runner-github-checks.integration.test.ts
  src/jest.setup.ts
Due: format configs, format code, run tests

ci: run github check integration optionally
  .github/workflows/cloud-runner-ci-pipeline.yml
  .github/workflows/github-checks-integration.yml
Due: format configs

fix: load fetch polyfill before tests
  .github/workflows/cloud-runner-ci-pipeline.yml
  jest.config.js
  src/integration/cloud-runner-github-checks-integration-test.ts
  src/jest.globals.ts
  src/model/cloud-runner/tests/cloud-runner-github-checks.test.ts
Due: format configs, format code, run tests

refactor: extract cloud runner test helpers
  jest.config.js
  src/integration/cloud-runner-github-checks-integration-test.ts
  src/model/cloud-runner/tests/cloud-runner-github-checks.test.ts
  src/test-utils/cloud-runner-test-helpers.ts
Due: format code, run tests

refactor: use AWS SDK for workspace locks
  src/model/cloud-runner/services/core/shared-workspace-locking.ts
Due: format code, run tests

fix: lazily initialize S3 client
  src/model/cloud-runner/services/core/shared-workspace-locking.ts
Due: format code, run tests

fix: load fetch polyfill before tests
  jest.config.js
  src/test-utils/cloud-runner-test-helpers.ts
Due: format code, run tests

fix: mock github checks in tests (#724)
  .github/workflows/cloud-runner-ci-pipeline.yml
  jest.config.js
  src/integration/cloud-runner-github-checks-integration-test.ts
  src/jest.globals.ts
  src/model/cloud-runner/tests/cloud-runner-github-checks.test.ts
  src/test-utils/cloud-runner-test-helpers.ts
Due: format configs, format code, run tests

fixup! add new input to action.yml
  action.yml
Due: format configs

feat: add dynamic provider loader
  src/model/cloud-runner/cloud-runner.ts
  src/model/cloud-runner/providers/fixtures/invalid-provider.ts
  src/model/cloud-runner/providers/provider-loader.test.ts
  src/model/cloud-runner/providers/provider-loader.ts
Due: format code, run tests

refactor(build-automation): enhance containerized workflow handling and log management; update builder path logic based on provider strategy
  src/model/cloud-runner/tests/cloud-runner-hooks.test.ts
Due: format code, run tests

ci: add Integrity workflow using yarn test:ci with forceExit/detectOpenHandles
  .github/workflows/integrity.yml
Due: format configs

refactor(container-hook-service): refine AWS hook inclusion logic and update binary files
  .github/workflows/integrity.yml
Due: format configs

ci: use yarn test:ci in integrity-check; remove redundant integrity.yml
  .github/workflows/integrity-check.yml
  .github/workflows/integrity.yml
Due: format configs

fix(non-container logs): timeout the remote-cli-log-stream to avoid CI hangs; s3 steps pass again
  src/model/cloud-runner/workflows/build-automation-workflow.ts
Due: format code, run tests

test(ci): harden built-in AWS S3 container hooks to no-op when aws CLI is unavailable; avoid failing Integrity on non-aws runs
  src/model/cloud-runner/services/hooks/container-hook-service.ts
Due: format code, run tests

style(ci): prettier/eslint fixes for container-hook-service to pass Integrity lint step
  src/model/cloud-runner/services/hooks/container-hook-service.ts
Due: format code, run tests

fix
  src/model/cloud-runner/remote-client/index.ts
Due: format code, run tests

fix(ci local): do not run remote-cli-pre-build on non-container provider
  src/model/cloud-runner/workflows/build-automation-workflow.ts
Due: format code, run tests

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
