Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

fix(post-build): guard cache pushes when Library/build missing or empty (local CI)
  src/model/cloud-runner/remote-client/index.ts
Due: format code, run tests

fix(post-build): guard cleanup of unique job folder in local CI
  src/model/cloud-runner/remote-client/index.ts
Due: format code, run tests

test(s3): only list S3 when AWS creds present in CI; skip otherwise
  src/model/cloud-runner/tests/cloud-runner-s3-steps.test.ts
Due: format code, run tests

test(k8s): gate e2e on ENABLE_K8S_E2E to avoid network-dependent failures in CI
  src/model/cloud-runner/tests/e2e/cloud-runner-kubernetes.test.ts
Due: format code, run tests

fix(local-docker): skip apt-get/toolchain bootstrap and remote-cli log streaming; run entrypoint directly
  src/model/cloud-runner/workflows/build-automation-workflow.ts
Due: format code, run tests

fix(local-docker): cd into /<projectPath> to avoid retained path; prevents cd failures
  src/model/cloud-runner/workflows/build-automation-workflow.ts
Due: format code, run tests

style: format build-automation-workflow.ts to satisfy Prettier
  src/model/cloud-runner/workflows/build-automation-workflow.ts
Due: format code, run tests

fix(aws): increase backoff and handle throttling in DescribeTasks/GetRecords
  src/model/cloud-runner/providers/aws/aws-task-runner.ts
Due: format code, run tests

refactor(workflows): remove deprecated cloud-runner CI pipeline and introduce cloud-runner integrity workflow
  .github/workflows/cloud-runner-ci-pipeline.yml
  .github/workflows/cloud-runner-integrity.yml
  .github/workflows/integrity-check.yml
Due: format configs

ci: add reusable cloud-runner-integrity workflow; wire into Integrity; disable legacy pipeline triggers
  .github/workflows/cloud-runner-integrity.yml
  .github/workflows/integrity-check.yml
Due: format configs

feat: configure aws endpoints and localstack tests
  .github/workflows/cloud-runner-integrity-localstack.yml
  README.md
  src/model/build-parameters.ts
  src/model/cloud-runner/options/cloud-runner-options.ts
  src/model/cloud-runner/providers/aws/aws-client-factory.ts
  src/model/cloud-runner/providers/aws/aws-task-runner.ts
  src/model/cloud-runner/providers/aws/index.ts
  src/model/cloud-runner/providers/aws/services/garbage-collection-service.ts
  src/model/cloud-runner/providers/aws/services/task-service.ts
Due: format documents, format configs, format code, run tests

ci: run localstack pipeline in integrity check
  .github/workflows/integrity-check.yml
Due: format configs

fix: ensure github runner service starts on windows
  scripts/game-ci.bat
Due: none

ci: add reusable cloud-runner-integrity workflow; wire into Integrity; disable legacy pipeline triggers
  src/model/cloud-runner/workflows/build-automation-workflow.ts
Due: format code, run tests

ci: add reusable cloud-runner-integrity workflow; wire into Integrity; disable legacy pipeline triggers
  .github/workflows/cloud-runner-integrity.yml
Due: format configs

ci: add reusable cloud-runner-integrity workflow; wire into Integrity; disable legacy pipeline triggers
  src/model/image-environment-factory.ts
Due: format code, run tests

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
