Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

Set proper environment variables for android sdk on macos runner
  dist/platforms/mac/steps/build.sh
Due: make shell script executable

Fix incorrect environment variables on macos runner (#499)
  dist/platforms/mac/steps/build.sh
Due: make shell script executable

fix local tests
  src/model/cloud-runner/tests/cloud-runner-local-docker-statefulness-tests.ts
Due: format code, run tests

Update pr template links
  .github/pull_request_template.md
Due: format documents

Enforce minimum node version
  .npmrc
  action.yml
  package.json
Due: format configs

new test
  src/model/cloud-runner/tests/cloud-runner-local-docker-statefulness-tests.ts
Due: format code, run tests

new test
  src/model/cloud-runner/tests/cloud-runner-local-docker-persistence-tests.ts
Due: format code, run tests

new test
  src/model/cloud-runner/tests/cloud-runner-local-docker-persistence.test.ts
Due: format code, run tests

new test
  src/model/cloud-runner/tests/shared-workspace-locking.test.ts
Due: format code, run tests

new test
  src/model/cloud-runner/services/shared-workspace-locking.ts
  src/model/cloud-runner/tests/cloud-runner-local-docker-persistence.test.ts
  src/model/cloud-runner/tests/shared-workspace-locking.test.ts
Due: format code, run tests

fix
  game-ci/hooks/my-test-hook-pre-build.yaml
  src/model/cloud-runner/tests/cloud-runner-run-once-custom-hooks.test.ts
Due: format configs, format code, run tests

fix
  game-ci/hooks/my-test-hook-post-build.yaml
  src/model/cloud-runner/tests/cloud-runner-local-docker-persistence.test.ts
Due: format configs, format code, run tests

fix
  src/model/cloud-runner/tests/shared-workspace-locking.test.ts
Due: format code, run tests

fix
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

fix
  .github/workflows/cloud-runner-pipeline.yml
  src/model/cloud-runner/tests/cloud-runner-caching.test.ts
  src/model/cloud-runner/tests/cloud-runner-environment-serializer.test.ts
  src/model/cloud-runner/tests/cloud-runner-environment.test.ts
  src/model/cloud-runner/tests/cloud-runner-hooks.test.ts
  src/model/cloud-runner/tests/cloud-runner-local-persistence.test.ts
  src/model/cloud-runner/tests/cloud-runner-locking.ts
  src/model/cloud-runner/tests/cloud-runner-s3-steps.test.ts
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-caching.test.ts
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-retaining.test.ts
Due: format configs, format code, run tests

fix
  src/model/cloud-runner/tests/cloud-runner-locking.test.ts
Due: format code, run tests

fix
  src/model/cloud-runner/tests/cloud-runner-local-persistence.test.ts
Due: format code, run tests

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
