Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    build distributables:
      skip: ['merge', 'rebase']
      run: yarn build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

fix
  .github/workflows/cloud-runner-ci-pipeline.yml
Due: format configs

fix
  src/model/cloud-runner/tests/cloud-runner-hooks.test.ts
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-caching.test.ts
Due: format code, run tests

fix
  src/model/cloud-runner/tests/cloud-runner-hooks.test.ts
Due: format code, run tests

fix
  .github/workflows/cloud-runner-ci-pipeline.yml
  src/model/cloud-runner/tests/cloud-runner-hooks.test.ts
Due: format configs, format code, run tests

fix
  dist/platforms/ubuntu/steps/activate.sh
Due: make shell script executable

fix
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-caching.test.ts
Due: format code, run tests

fix
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-retaining.test.ts
Due: format code, run tests

Add missing parameter, add quotes around variables, bump action versions
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
  dist/platforms/windows/build.ps1
Due: format configs

Wrap quotes
  dist/platforms/windows/build.ps1
Due: none

Fix upload artifact naming conflict
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
Due: format configs

Fix Windows Arguments Passed to Unity (#623)
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
  dist/platforms/windows/build.ps1
Due: format configs

Remove nographics Flag by Default
  dist/platforms/windows/build.ps1
Due: none

Update activate.ps1
  dist/platforms/windows/activate.ps1
Due: none

fix
  package-lock.json
Due: format configs

fix
  sh.exe.stackdump
Due: none
