Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    build distributables:
      skip: ['merge', 'rebase']
      run: yarn build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

Remove 2018.1 from tests
  .github/workflows/build-tests.yml
  .github/workflows/mac-build-tests.yml
  .github/workflows/windows-build-tests.yml
Due: format configs

Remove out variable declaration to support Unity 2018 in default build script. Remove <2019.3 versions of unity from windows builder as IL2CPP isn't supported until 2019.3.
  .github/workflows/windows-build-tests.yml
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/AndroidSettings.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/ArgumentsParser.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Versioning/Git.cs
Due: format configs

Fix typo. Use reflection to set buildAppBundle as Unity 2018.2 doesn't support it
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/AndroidSettings.cs
Due: none

Add missing reflection using
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/AndroidSettings.cs
Due: none

fix hook tests
  src/model/cloud-runner/tests/cloud-runner-hooks.test.ts
Due: format code, run tests

pipeline improvements
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

pipeline improvements
  src/model/cloud-runner/services/cloud-runner-custom-hooks.ts
  src/model/cloud-runner/tests/cloud-runner-hooks.test.ts
Due: format code, run tests

pipeline improvements
  src/model/cloud-runner/tests/cloud-runner-hooks.test.ts
Due: format code, run tests

Remove 2018-2019.3 unity versions from mac as they don't support IL2CPP. Fix app identifier for android in testproject
  .github/workflows/mac-build-tests.yml
  test-project/ProjectSettings/ProjectSettings.asset
  test-project/ProjectSettings/ProjectSettingsIl2cpp.asset
Due: format configs

Fix android bundle id
  test-project/ProjectSettings/ProjectSettings.asset
  test-project/ProjectSettings/ProjectSettingsIl2cpp.asset
Due: none

pipeline improvements
  src/model/cloud-runner/tests/cloud-runner-local-persistence.test.ts
Due: format code, run tests

pipeline improvements
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-caching.test.ts
Due: format code, run tests

pipeline improvements
  src/model/cloud-runner/remote-client/caching.ts
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-caching.test.ts
Due: format code, run tests

pipeline improvements
  src/model/cloud-runner/remote-client/caching.ts
Due: format code, run tests

pipeline improvements
  src/model/cloud-runner/remote-client/index.ts
Due: format code, run tests

pipeline improvements
  src/model/cli/cli.ts
Due: format code, run tests

pipeline improvements
  src/model/cli/cli.ts
  src/model/cloud-runner/remote-client/caching.ts
Due: format code, run tests

pipeline improvements
  .github/workflows/cloud-runner-pipeline.yml
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-caching.test.ts
Due: format configs, format code, run tests

pipeline improvements
  src/model/cloud-runner/remote-client/caching.ts
  src/model/cloud-runner/remote-client/index.ts
  src/model/cloud-runner/services/lfs-hashing.ts
Due: format code, run tests

pipeline improvements
  src/model/cloud-runner/remote-client/index.ts
  src/model/cloud-runner/services/lfs-hashing.ts
Due: format code, run tests

pipeline improvements
  src/model/cloud-runner/providers/aws/cloud-formations/task-definition-formation.ts
Due: format code, run tests

Updated android identifier. Removed incompatible unity versions from tests. Add retry logic to windows as it seems to have licensing issues when so many runners start
  .github/workflows/build-tests.yml
  .github/workflows/mac-build-tests.yml
  .github/workflows/windows-build-tests.yml
  test-project/ProjectSettings/ProjectSettings.asset
  test-project/ProjectSettings/ProjectSettingsIl2cpp.asset
Due: format configs

Add timeout and continue on error
  .github/workflows/windows-build-tests.yml
Due: format configs

extract lib in caching flow
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-caching.test.ts
Due: format code, run tests
