Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    build distributables:
      skip: ['merge', 'rebase']
      run: yarn build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

fix(load-balancing): add pagination limits and rate-limit detection
  src/model/orchestrator/services/core/runner-availability-service.test.ts
  src/model/orchestrator/services/core/runner-availability-service.ts
Due: format code, run tests

fix(reliability): add disk space validation before build archival
  src/model/orchestrator/services/reliability/build-reliability-service.test.ts
  src/model/orchestrator/services/reliability/build-reliability-service.ts
Due: format code, run tests

fix(providers): add polling timeouts, fix credential parsing, validate dependencies
  src/model/orchestrator/providers/ansible/ansible-provider.test.ts
  src/model/orchestrator/providers/ansible/index.ts
  src/model/orchestrator/providers/github-actions/github-actions-provider.test.ts
  src/model/orchestrator/providers/github-actions/index.ts
  src/model/orchestrator/providers/gitlab-ci/gitlab-ci-provider.test.ts
  src/model/orchestrator/providers/gitlab-ci/index.ts
  src/model/orchestrator/providers/remote-powershell/index.ts
  src/model/orchestrator/providers/remote-powershell/remote-powershell-provider.test.ts
Due: format code, run tests

feat(cli): add npm publish workflow and CLI tests
  .github/workflows/publish-cli.yml
  src/cli/__tests__/cli-integration.test.ts
  src/cli/__tests__/commands.test.ts
  src/cli/__tests__/input-mapper.test.ts
Due: format configs, format code, run tests

fix(cli): address review findings — exit codes, missing inputs, null safety
  src/cli.ts
  src/cli/commands/activate.ts
  src/cli/commands/build.ts
  src/cli/commands/orchestrate.ts
  src/cli/input-mapper.ts
Due: format code, run tests

chore: add integration branch update scripts for release/next-gen
  delete-me-update-all-integration-branches.ps1
  delete-me-update-this-integration-branch.ps1
Due: none

chore: add integration branch update scripts for release/lts-2.0.0
  delete-me-update-all-integration-branches.ps1
  delete-me-update-this-integration-branch.ps1
Due: none

fix(ci): update integrity workflow to Node 20 for yargs@18 compatibility
  .github/workflows/integrity-check.yml
  package.json
Due: format configs

chore: add integration branch update scripts for release/lts-infrastructure
  delete-me-update-all-integration-branches.ps1
  delete-me-update-this-integration-branch.ps1
Due: none

ci: set macOS builds to continue-on-error
  .github/workflows/build-tests-mac.yml
Due: format configs

chore: add release/lts-infrastructure to update-all script
  delete-me-update-all-integration-branches.ps1
Due: none
