Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

Fix typo
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Reporting/CompileListener.cs
Due: none

Update test project
  test-project/Assets/LFS_Test_File.jpg.meta
  test-project/Assets/Scenes.meta
  test-project/Assets/Scenes/SampleScene.unity
  test-project/Assets/Scenes/SampleScene.unity.meta
  test-project/Packages/manifest.json
  test-project/Packages/packages-lock.json
  test-project/ProjectSettings/AudioManager.asset
  test-project/ProjectSettings/DynamicsManager.asset
  test-project/ProjectSettings/EditorBuildSettings.asset
  test-project/ProjectSettings/EditorSettings.asset
  test-project/ProjectSettings/GraphicsSettings.asset
  test-project/ProjectSettings/MemorySettings.asset
  test-project/ProjectSettings/NetworkManager.asset
  test-project/ProjectSettings/PackageManagerSettings.asset
  test-project/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
  test-project/ProjectSettings/PresetManager.asset
  test-project/ProjectSettings/ProjectSettings.asset
  test-project/ProjectSettings/ProjectSettingsIl2cpp.asset
  test-project/ProjectSettings/ProjectVersion.txt
  test-project/ProjectSettings/QualitySettings.asset
  test-project/ProjectSettings/TimeManager.asset
  test-project/ProjectSettings/UnityConnectSettings.asset
  test-project/ProjectSettings/VFXManager.asset
  test-project/ProjectSettings/VersionControlSettings.asset
  test-project/ProjectSettings/boot.config
Due: format configs

Build iOS test on macos to verify burst functionality. Add annotation for license activation error. Fix unity version test. Remove minification from android
  .github/workflows/build-tests-mac.yml
  dist/platforms/mac/steps/activate.sh
  dist/platforms/ubuntu/steps/activate.sh
  dist/platforms/ubuntu/steps/return_license.sh
  dist/platforms/windows/activate.ps1
  src/model/unity-versioning.test.ts
  test-project/.gitignore
  test-project/ProjectSettings/ProjectSettings.asset
  test-project/ProjectSettings/ProjectSettingsIl2cpp.asset
Due: format configs, format code, run tests, make shell script executable

Improve license checks
  dist/platforms/mac/steps/activate.sh
  dist/platforms/ubuntu/steps/activate.sh
Due: make shell script executable

Wider random range
  .github/workflows/build-tests-ubuntu.yml
Due: format configs

Add retry logic to ubuntu builds
  .github/workflows/build-tests-ubuntu.yml
Due: format configs

Allow dirty build on retry
  .github/workflows/build-tests-ubuntu.yml
Due: format configs

Remove lighting data
  test-project/Assets/Scenes/SampleScene.meta
  test-project/Assets/Scenes/SampleScene.unity
  test-project/Assets/Scenes/SampleScene/LightingData.asset
  test-project/Assets/Scenes/SampleScene/LightingData.asset.meta
  test-project/Assets/Scenes/SampleScene/ReflectionProbe-0.exr
  test-project/Assets/Scenes/SampleScene/ReflectionProbe-0.exr.meta
Due: none

Bump unity version
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
Due: format configs

Only use sudo to create unity license directory if it doesn't already exist. Don't delete license dir after action exits
  dist/platforms/mac/entrypoint.sh
Due: make shell script executable

Testing different loop condition
  dist/platforms/windows/build.ps1
Due: none

Change process name. Change output format string
  dist/platforms/windows/build.ps1
Due: none

Fix mac pathing
  dist/platforms/mac/entrypoint.sh
Due: make shell script executable

More syntax fixes
  dist/platforms/mac/entrypoint.sh
Due: make shell script executable

Cache unity process handle
  dist/platforms/windows/build.ps1
Due: none

Fix missing space, add link for context
  dist/platforms/mac/entrypoint.sh
  dist/platforms/windows/build.ps1
Due: make shell script executable

Add debug print
  dist/platforms/mac/entrypoint.sh
Due: make shell script executable

Add missing not flag
  dist/platforms/mac/entrypoint.sh
Due: make shell script executable

Update container registry repository description
  action.yml
Due: format configs

Ensure blank project files can be deleted by github runner
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Ensure blank project files can be deleted by github runner (#599)
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

cleanup async parameter
  src/model/cloud-runner/tests/cloud-runner-github-checks.test.ts
Due: format code, run tests

cleanup async parameter
  .github/workflows/cloud-runner-ci-pipeline.yml
Due: format configs

Use host user info derived from project directory
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Remove license activation dir
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Fix variables
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Ensure group is created
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Change entrypoint setup
  dist/platforms/ubuntu/entrypoint.sh
  dist/platforms/ubuntu/steps/runsteps.sh
Due: make shell script executable

Fix command
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Pass in env variables
  dist/platforms/ubuntu/entrypoint.sh
Due: make shell script executable

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
