Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

docker cache
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

Fix: nodejs glibc dependency error
  src/model/cloud-runner/workflows/build-automation-workflow.ts
Due: format code, run tests

Fix powershell quotation issue, when CUSTOM_PARAMETERS contains spaces (#470)
  dist/platforms/windows/build.ps1
Due: none

chore: hard code links in the pull request template
  .github/pull_request_template.md
Due: format documents

docker layer caching for local only
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

separate cloud development and ci pipeline
  .github/workflows/cloud-runner-ci-pipeline.yml
  .github/workflows/cloud-runner-dev-pipeline.yml
Due: format configs

timeout adjusted
  .github/workflows/cloud-runner-ci-pipeline.yml
  .github/workflows/cloud-runner-dev-pipeline.yml
Due: format configs

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
