Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

Scripting backend is always il2cpp
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-windows.yml
Due: format configs

Only build mono for windows/mac on linux test builds. Add dedicated server build tests
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
  test-project/ProjectSettings/ProjectSettingsIl2cpp.asset
Due: format configs

Fix typo
  .github/workflows/build-tests-ubuntu.yml
Due: format configs

Fix build matrix and upload name
  .github/workflows/build-tests-ubuntu.yml
Due: format configs

Removed all instances of interpolated strings from editor scripts so we don't get compiler errors on old versions of .NET in Unity 2018
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Builder.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/AndroidSettings.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/ArgumentsParser.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Reporting/CompileListener.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Reporting/StdOutReporter.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Versioning/Git.cs
Due: none

no message
  .github/workflows/cloud-runner-ci-pipeline.yml
Due: format configs

rclone basic test
  src/model/cloud-runner/tests/cloud-runner-hooks.test.ts
Due: format code, run tests

rclone basic test
  .github/workflows/cloud-runner-ci-pipeline.yml
Due: format configs

output change.
  dist/platforms/windows/build.ps1
Due: none

Fixed bug with additional 'c:' prefix for --workDir
  src/model/docker.ts
Due: format code, run tests

Fix getVersionDescription() to prioritize version tags over non-version tags
  src/model/versioning.ts
Due: format code, run tests

Update versioning.ts
  src/model/versioning.ts
Due: format code, run tests

Removed all instances of interpolated strings from editor scripts so we don't get compiler errors on old versions of .NET in Unity 2018 (#633)
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Builder.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/AndroidSettings.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/ArgumentsParser.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Reporting/CompileListener.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Reporting/StdOutReporter.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Versioning/Git.cs
Due: none

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
