Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    build distributables:
      skip: ['merge', 'rebase']
      run: yarn build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

async pipeline
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

async pipeline
  .github/workflows/cloud-runner-async-checks.yml
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

async pipeline
  .github/workflows/cloud-runner-async-checks.yml
Due: format configs

workflow
  .github/workflows/cloud-runner-async-checks.yml
Due: format configs

workflow
  .github/workflows/cloud-runner-async-checks.yml
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

workflow
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

parameterize s3
  .github/workflows/cloud-runner-pipeline.yml
Due: format configs

parameterize s3
  src/model/cloud-runner/tests/cloud-runner-run-twice-retaining.test.ts
Due: format code, run tests

parameterize s3
  src/model/cloud-runner/tests/shared-workspace-locking.test.ts
Due: format code, run tests

parameterize s3
  .github/workflows/cloud-runner-pipeline.yml
  src/model/cloud-runner/tests/cloud-runner-run-twice-caching.test.ts
  src/model/cloud-runner/tests/cloud-runner-run-twice-retaining.test.ts
Due: format configs, format code, run tests
