Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

fix
  .eslintrc.json
  .vscode/settings.json
  package.json
  yarn.lock
Due: format configs

fix
  package.json
  yarn.lock
Due: format configs

fix
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-caching.test.ts
Due: format code, run tests

fix
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-caching.test.ts
  src/model/cloud-runner/tests/e2e/cloud-runner-kubernetes.test.ts
Due: format code, run tests

fix
  src/model/cloud-runner/tests/e2e/cloud-runner-end2end-retaining.test.ts
Due: format code, run tests

fix
  .github/workflows/cloud-runner-ci-pipeline.yml
Due: format configs

fix
  src/model/cloud-runner/tests/cloud-runner-github-checks.test.ts
Due: format code, run tests

fix
  src/model/cloud-runner/tests/cloud-runner-async-workflow.test.ts
Due: format code, run tests

fix
  src/model/cloud-runner/tests/cloud-runner-async-workflow.test.ts
  src/model/cloud-runner/tests/cloud-runner-github-checks.test.ts
Due: format code, run tests

Update cloud-runner-ci-pipeline.yml
  .github/workflows/cloud-runner-ci-pipeline.yml
Due: format configs

Update cloud-runner-ci-pipeline.yml (#626)
  .github/workflows/cloud-runner-ci-pipeline.yml
Due: format configs

Fixed bug on pathing
  dist/platforms/ubuntu/steps/build.sh
Due: make shell script executable

Ensure there is enough space for Android test builds
  .github/workflows/build-tests-ubuntu.yml
Due: format configs

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
