Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: yarn prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: yarn prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: yarn jest --passWithNoTests --findRelatedTests {staged_files}
    build distributables:
      skip: ['merge', 'rebase']
      run: yarn build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

ci: add reusable cloud-runner-integrity workflow; wire into Integrity; disable legacy pipeline triggers
  src/model/image-environment-factory.ts
Due: format code, run tests

ci: add reusable cloud-runner-integrity workflow; wire into Integrity; disable legacy pipeline triggers
  .github/workflows/cloud-runner-integrity.yml
Due: format configs

ci: add reusable cloud-runner-integrity workflow; wire into Integrity; disable legacy pipeline triggers
  src/model/cloud-runner/services/core/task-parameter-serializer.ts
Due: format code, run tests

ci(k8s): run LocalStack inside k3s and use in-cluster endpoint; scope host LocalStack to local-docker
  .github/workflows/cloud-runner-integrity.yml
Due: format configs

ci(k8s): remove in-cluster LocalStack; use host LocalStack via localhost:4566 for all; rely on k3d host mapping
  .github/workflows/cloud-runner-integrity.yml
Due: format configs

ci(k8s): remove in-cluster LocalStack; use host LocalStack via localhost:4566 for all; rely on k3d host mapping
  README.md
  src/model/cloud-runner/providers/aws/services/task-service.ts
  src/model/cloud-runner/remote-client/index.ts
  src/model/cloud-runner/services/core/shared-workspace-locking.ts
  src/model/cloud-runner/services/hooks/container-hook-service.ts
  src/model/cloud-runner/tests/cloud-runner-rclone-steps.test.ts
  src/model/cloud-runner/workflows/build-automation-workflow.ts
Due: format documents, format code, run tests

ci(k8s): remove in-cluster LocalStack; use host LocalStack via localhost:4566 for all; rely on k3d host mapping
  src/model/cloud-runner/tests/cloud-runner-rclone-steps.test.ts
Due: format code, run tests

Update README.md
  README.md
Due: format documents

Remove arguments for license activation from build step
  dist/platforms/mac/steps/build.sh
Due: make shell script executable

Prepare configuration file to appropriate path
  dist/platforms/mac/steps/activate.sh
Due: make shell script executable

Use extended regular expression since mac uses BSD grep
  dist/platforms/mac/steps/activate.sh
Due: make shell script executable

Store the exit code from license activation command
  dist/platforms/mac/steps/activate.sh
  dist/platforms/ubuntu/steps/activate.sh
Due: make shell script executable

Support Unity license server on macOS platform
  dist/platforms/mac/steps/activate.sh
  dist/platforms/mac/steps/return_license.sh
Due: make shell script executable

fix: Resolve linting errors in provider loader
  .github/workflows/cloud-runner-integrity.yml
  src/model/cloud-runner/cloud-runner.ts
  src/model/cloud-runner/providers/provider-loader.ts
Due: format configs, format code, run tests

build: Update built artifacts after linting fixes
  .github/workflows/cloud-runner-integrity.yml
Due: format configs

build: Update built artifacts after linting fixes
  .github/workflows/integrity-check.yml
Due: format configs

feat: Implement provider loader dynamic imports with GitHub URL support
  src/model/cloud-runner/providers/provider-git-manager.test.ts
Due: format code, run tests
