Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

m
  src/model/cloud-runner/tests/fixtures/invalid-provider.ts
  src/model/cloud-runner/tests/providers/provider-git-manager.test.ts
  src/model/cloud-runner/tests/providers/provider-loader.test.ts
  src/model/cloud-runner/tests/providers/provider-url-parser.test.ts
Due: format code, run tests

m
  src/model/cloud-runner/tests/providers/provider-loader.test.ts
Due: format code, run tests

Delete .cursor/settings.json
  .cursor/settings.json
Due: format configs

feat: add `-activeBuildProfile`
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Builder.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/ArgumentsParser.cs
  dist/platforms/mac/steps/build.sh
  dist/platforms/ubuntu/steps/build.sh
  dist/platforms/windows/build.ps1
  test-project/Assets/Settings/Build Profiles/Sample WebGL Build Profile.asset
Due: make shell script executable

feat: descriptive error in case `-activeBuildProfile` is passed without actual value
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Builder.cs
Due: none

Support activeBuildProfile parameter (#738)
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Builder.cs
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/ArgumentsParser.cs
  dist/platforms/mac/steps/build.sh
  dist/platforms/ubuntu/steps/build.sh
  dist/platforms/windows/build.ps1
  test-project/Assets/Settings/Build Profiles/Sample WebGL Build Profile.asset
Due: make shell script executable

feat: windows
  .github/workflows/build-tests-windows.yml
  dist/platforms/windows/build.ps1
  test-project/Assets/Settings/Build Profiles/Sample Windows Build Profile.asset
  test-project/Assets/Settings/Build Profiles/Sample Windows Build Profile.asset.meta
Due: format configs

feat: macos
  .github/workflows/build-tests-mac.yml
  test-project/Assets/Settings/Build Profiles/Sample macOS Build Profile.asset
  test-project/Assets/Settings/Build Profiles/Sample macOS Build Profile.asset.meta
Due: format configs

fix: artifact name conflict
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-windows.yml
Due: format configs

fix: mac build profile parameter missing
  .github/workflows/build-tests-mac.yml
Due: format configs

Fix build profile name truncation on Windows (#745)
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-windows.yml
  dist/platforms/windows/build.ps1
  test-project/Assets/Settings/Build Profiles/Sample Windows Build Profile.asset
  test-project/Assets/Settings/Build Profiles/Sample Windows Build Profile.asset.meta
  test-project/Assets/Settings/Build Profiles/Sample macOS Build Profile.asset
  test-project/Assets/Settings/Build Profiles/Sample macOS Build Profile.asset.meta
Due: format configs

chore: set graphql range to ^16.11.0
  package.json
  yarn.lock
Due: format configs

fix: upgrade `unity-changeset` to v3.0.1 for graphql dependency
  package.json
  yarn.lock
Due: format configs

fix: upgrade `unity-changeset` to v3.0.1 for graphql dependency (#750)
  package.json
  yarn.lock
Due: format configs

fix: compile error on Unity 2021.2 or earlier
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/AndroidSettings.cs
Due: none

fix: compile error on Unity 2021.2 or earlier (#753)
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Input/AndroidSettings.cs
Due: none

Enable unity licensing server for macOS (#735)
  dist/platforms/mac/steps/activate.sh
  dist/platforms/mac/steps/build.sh
  dist/platforms/mac/steps/return_license.sh
  dist/platforms/ubuntu/steps/activate.sh
Due: make shell script executable

Ensure Visual C++ Redistributables are installed
  dist/platforms/windows/activate.ps1
Due: none

Ensures Visual C++ Redistributables for 2013 is installed
  dist/platforms/windows/entrypoint.ps1
  dist/platforms/windows/install_vcredist13.ps1
Due: none

Ensures Visual C++ Redistributables for 2013 is installed (#757)
  dist/platforms/windows/entrypoint.ps1
  dist/platforms/windows/install_vcredist13.ps1
Due: none

Simplify build profile loading logic
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Builder.cs
Due: none

Simplify build profile loading logic (#762)
  dist/default-build-script/Assets/Editor/UnityBuilderAction/Builder.cs
Due: none

Fixes bug where kubectl picks a different namespace (e.g. cloud runner is kicked from self hosted k8s agents that are in a non default namespace)
  src/model/cloud-runner/providers/k8s/kubernetes-task-runner.ts
Due: format code, run tests

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: format configs

Remove tracked log/temp files and add to .gitignore
  $LOG_FILE
  .gitignore
  temp/job-log.txt
Due: none

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
