Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

fix: glue --flag=value instead of --flag value, avoiding argv ambiguity
  dist/index.js
  dist/index.js.map
  src/build-args.test.ts
  src/build-args.ts
Due: format code, run tests

fix: replicate the original action's test-project auto-detection
  dist/index.js
  dist/index.js.map
  src/index.ts
  src/resolve-project-path.test.ts
  src/resolve-project-path.ts
Due: format code, run tests

fix: download and extract the release archive, not a bare binary
  dist/index.js
  dist/index.js.map
  src/download-cli.test.ts
  src/download-cli.ts
Due: format code, run tests

chore: retire orchestrator-plugin CI checks superseded by cli-plugin arch
  .github/workflows/integrity-check.yml
  .github/workflows/validate-orchestrator-integration.yml
  .github/workflows/validate-orchestrator.yml
  src/types/game-ci-orchestrator.d.ts
Due: format configs, format code, run tests

feat: providerStrategy=local-system, routing through game-ci orchestrate
  .github/workflows/build-tests-ubuntu.yml
  action.yml
  dist/index.js
  dist/index.js.map
  src/build-args.test.ts
  src/build-args.ts
  src/index.ts
Due: format configs, format code, run tests

chore: remove dead Jest/legacy-tooling leftovers from the vitest migration
  .vscode/launch.json
  dist/index.js
  dist/index.js.map
  jest.setup.js
  package.json
  scripts/game-ci.bat
  src/jest.globals.ts
  tsconfig.json
  types/shell-quote.d.ts
  yarn.lock
Due: format configs, format code, run tests

feat: cache the game-ci CLI download even when cliVersion=latest
  dist/index.js
  dist/index.js.map
  src/download-cli.test.ts
  src/download-cli.ts
Due: format code, run tests

docs: explain why exec.exec(cliPath, args, ...) isn't shell-injectable
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: format code, run tests

docs: correct the exec.exec comment - no inline CodeQL suppression exists
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: format code, run tests

fix: sync-secrets wrote "-" as the value of every secret it synced
  .github/workflows/sync-secrets.yml
Due: format configs

fix: pass unityVersion through as --engineVersion instead of ignoring it
  src/build-args.test.ts
  src/build-args.ts
  src/index.ts
Due: format code, run tests

fix: pass unityVersion through as --engineVersion instead of ignoring it (#847)
  src/build-args.test.ts
  src/build-args.ts
  src/index.ts
Due: format code, run tests

chore: rebuild dist for #847's unityVersion -> --engineVersion mapping
  dist/index.js
  dist/index.js.map
Due: none

fix: authenticate resolveLatestTag's GitHub API call to avoid rate limiting
  dist/index.js
  dist/index.js.map
  src/download-cli.test.ts
  src/download-cli.ts
Due: format code, run tests

ci: pass GITHUB_TOKEN to the action step so resolveLatestTag can authenticate
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
Due: format configs

refactor: delegate CLI install to game-ci/cli's shared install.sh
  src/download-cli.test.ts
  src/download-cli.ts
Due: format code, run tests

fix: avoid Array#toReversed() - unsupported on this project's target Node
  src/download-cli.ts
Due: format code, run tests

security: avoid interpolating values into a bash -c string in downloadCli
  src/download-cli.test.ts
  src/download-cli.ts
Due: format code, run tests

ci: add unity-test-runner/unity-activate as sync-secrets.yml targets
  .github/workflows/sync-secrets.yml
Due: format configs

ci: add job-level timeout-minutes to bound hung post-run cleanup steps
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
Due: format configs

fix: bump @actions/cache to v4, fix lint-staged glob excluding dist/
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package.json
  yarn.lock
Due: format configs

fix(ci): scope Library cache key to unityVersion/buildProfile, not just platform+targetPlatform
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
Due: format configs

fix(ci): split cache restore/save so a hung save can't stall a job for hours
  .github/workflows/build-tests-mac.yml
  .github/workflows/build-tests-ubuntu.yml
  .github/workflows/build-tests-windows.yml
Due: format configs

ci: auto-retry test runs when every failed job matches a known-transient pattern
  .github/workflows/auto-retry-known-flakes.yml
Due: format configs

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
