Repository game-ci/unity-builder: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

format documents:
  run: yarn prettier --write {staged_files}

format configs:
  run: yarn prettier --write {staged_files}

format code:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

run tests:
  run: yarn jest --passWithNoTests --findRelatedTests {staged_files}

make shell script executable:
  run: git update-index --chmod=+x

test naming
  src/model/cloud-runner/tests/shared-workspace-locking.test.ts
Due: format code, run tests

Use cache key to segment lock folders
  src/model/cloud-runner/tests/shared-workspace-locking.test.ts
Due: format code, run tests

Skip all locking actions test as we now have two useful test flows
  src/model/cloud-runner/tests/shared-workspace-locking.test.ts
Due: format code, run tests

custom hook files and test
  game-ci/hooks/my-test-hook-post-build.yaml
  game-ci/hooks/my-test-hook-pre-build.yaml
Due: format configs

custom hook files and test
  src/model/cloud-runner/tests/cloud-runner-run-once-custom-hooks.test.ts
Due: format code, run tests

Fix: custom hook files and test
  game-ci/hooks/my-test-hook-post-build.yaml
  game-ci/hooks/my-test-hook-pre-build.yaml
  src/model/cloud-runner/tests/cloud-runner-run-once-custom-hooks.test.ts
Due: format configs, format code, run tests

Path conditions:
  format documents: any of: *.{md,mdx}
  format configs: any of: *.{json,yml,yaml}
  format code: any of: *.{js,jsx,ts,tsx}, but not: dist/
  run tests: any of: *.{js,jsx,ts,tsx}, but not: dist/
  make shell script executable: any of: *.sh
